<div id="sidebar" >
        
            <div class="fb-like" data-href="https://www.facebook.com/pages/Quailridge-Plantation/340892476040650?fref=ts" data-send="false" data-width="250" data-show-faces="false">
            </div>
		
			<div class="sidebox" align="center">
                <%= image_tag("ContactInfo1.png", :class => "round") %>                
            </div>
					
</div>	


