
<div id="headerphotos"> 
<ul>
<li><%= image_tag("quailridge_small21.jpg", :class => "round") %> 
<li><%= image_tag("quailridge_small23.jpg", :class => "round") %> 
<li><%= image_tag("quailridge_small24.jpg", :class => "round") %> 
</div>
    <div id="content-wrap"><div id="content">
		
<%= render "shared/sidebar" %>	
<div id="main">
		
<div class="post">

<h1>Welcome to Quailridge</h1>
<p>
Welcome!
</p>
<p> 
For over forty years, we have striven to provide the best possible quail hunting 
experience in all of South Georgia.  Very few experirnces in life can compare to 
a day in the field.  Beautiful landscapes, the acumen of a well trained dog, the 
excitement of a covey rise, even the (occasionally salty) humor of veteran guides 
all converge to make something more than a simple hunting trip.  They make an 
unique and indelible memory.
</p>
<p><img align="right" alt="Quail11" src="/images/quail11.jpg?1347819265" />
We are and have always been family owned operated in every aspect.  That foundation 
has allowed us to share our love of the outdoors with with our clients since the 
first day we opened.  What could have become a job has remained a privilege for three 
generations of sons and daughters.  For us, each day of the season is another 
opportunity to enjoy sharing what we believe is simple perfection with both old 
friends and new ones as well.
</p>
<p>
Over the course of better than four decades now, we have steadily improved our 
facilities with one key exception; our recipe for fried chicken.  While a thorough 
search of the globe might uncover something in the ballpark, we've had assurances 
from clients as far off as Africa that our fried chicken stands above all others.  
But, of course, the best judge of this will be a hearty hot lunch with us.
</p>
<p>
In forty years, we've discovered that we don't actually have "clients," so much as 
we have friends with whom we share the camaraderie and fellowship of the hunt.  We 
extend to you a hearty invitation to please join us. 
</p>
<p>--The Quailridge Family</p>
				
			</div>
		</div>
	</div>    
</div>
