
<div id="headerphotos"> 
<ul>
<li><%= image_tag("quailridge_small5.jpg", :class => "round") %> 
<li><%= image_tag("quailridge_small6.jpg", :class => "round") %> 
<li><%= image_tag("quailridge_small7.jpg", :class => "round") %> 
</div>
</div>
    <div id="content-wrap"><div id="content">
		
<%= render "shared/sidebar" %>	
	
        <div id="main">
            
            <div class="post">
                <h1>Quail Hunting at Quailridge Plantation</h1>
                <p align="center">
                <iframe width="650" height="372" src="//www.youtube.com/embed/pXIn9i5PsxM" frameborder="0" allowfullscreen></iframe>
                </p>
                <p align="center">
                <iframe width="650" height="372" src="//www.youtube.com/embed/fsJe-GifgEo" frameborder="0" allowfullscreen></iframe>
            </div>
		</div>
	</div>    
</div>

