
<div id="content-wrap"><div id="content">		
<br>
<br>	
<div id="main">		
	
<h1 style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 16px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; color: rgb(200, 0, 29); font-family: Arial, Helvetica, sans-serif;">
			PRIVACY POLICY</h1>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			Effective Date: August 21, 2013</p>
		<h2 style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 1.3em; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			SCOPE</h2>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			This Privacy Policy applies to&nbsp;Quailridgeplantation.com.&nbsp;</p>
		<h2 style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 1.3em; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			INFORMATION WE COLLECT WHEN YOU VISIT Quailridgeplantation.com</h2>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			We may use, collect, track, and store certain data when you visit this site, including:</p>
		<ul style="margin: 0px 0px 10px 20px; padding: 0px; border: 0px; outline: 0px; font-size: 11px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; list-style-position: initial; list-style-image: initial; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Your IP address;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				The website that referred you to this site;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				The search terms you used to find this site;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Your device information, such as operating system, browser type, and device type;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Session information, including how you use this website; and,</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Cookies and other technologies, such as pixel tags.</li>
		</ul>
		<h2 style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 1.3em; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			VOLUNTARY DISCLOSURE OF PERSONAL INFORMATION</h2>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			This site allows you to fill out forms for the purpose learning more about or buying products and services available for sale on this site. By filling out these forms, you agree to send to us all of the information you input into those forms. These forms may prompt you to fill in your:</p>
		<ul style="margin: 0px 0px 10px 20px; padding: 0px; border: 0px; outline: 0px; font-size: 11px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; list-style-position: initial; list-style-image: initial; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				First and Last Name;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Home or other street address, including street name, name of city, state, and zip code;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Email address;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Telephone number;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Gender;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Age;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Computer or device and network information;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Social Security number;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Driver&#39;s license number;</li>
			<li style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">
				Credit card data including credit card number, expiration date, and CID.</li>
		</ul>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			We may associate the data you voluntarily disclose to us with the data we collect when you visit the site. We also may associate both the data we collect and the data you voluntarily disclose to us with information we collect from information related to your purchases and orders, data obtained from outside sources, and customer service-related information.</p>
		<h2 style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 1.3em; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			SHARING OF PERSONAL INFORMATION</h2>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			We do not sell, or rent any of the data we collect or maintain.</p>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			We may share certain data, including personal information, with service providers, vendors, marketing agencies and services, data management and analytics services, affiliates, and contract workers. Additionally, we may store certain data, including personal information, on servers located at third-party data centers. In addition, we may obtain data, including personal information, from outside sources.</p>
		<h2 style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 1.3em; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			HOW WE MAY CONTACT YOU AFTER YOU VISIT Quailridgeplantation.com</h2>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			We will not send you promotional or marketing emails directly without your express consent. We may contact you via email or telephone, though, in efforts to process orders for products or services you have placed, or to remind you of upcoming service appointments.</p>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			This site also utilizes tools to engage site visitors after they leave this site. For example, this site may show advertisements to you on other sites after you have visited this site. This is sometimes known as &#39;remarketing&#39; because we may re-market our products or services to you on other sites after you leave this site. We use third-party vendors, including Google, to show you these advertisements on various sites on the Internet. These third-party vendors, including Google, use cookies, pixel tags, and other technologies to serve you ads based on your prior visits to this site.</p>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			Users may opt out of Google&#39;s use of cookies by visiting the Google advertising opt-out page at&nbsp;<a href="http://www.google.com/privacy_ads.html" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">http://www.google.com/privacy_ads.html</a>. This site may use the Teracent cookie for remarketing, which you may opt out of by visiting the Teracent opt-out page at<a href="http://www.teracent.com/about-us/opt-out" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">http://www.teracent.com/about-us/opt-out</a>. This site may also use Google&#39;s DoubleClick remarketing pixel, which you may opt out of by visiting the DoubleClick opt-out page at<a href="http://www.google.com/settings/ads/onweb#display_optout" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">http://www.google.com/settings/ads/onweb#display_optout</a>&nbsp;of the Network Advertising Initiative opt-out page at&nbsp;<a href="http://www.networkadvertising.org/managing/opt_out.asp" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">http://www.networkadvertising.org/managing/opt_out.asp</a>.</p>
		<h2 style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 1.3em; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			SECURITY</h2>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			The security of the information we collect and maintain is very important to us. To prevent unauthorized access or disclosures, we utilize physical, electronic, and procedural safeguards to protect the information we collect and maintain. Please be aware that, although we endeavor to provide appropriate security for the information we collect and maintain, no security system can prevent all potential security breaches.</p>
		<h2 style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 1.3em; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			CHILDREN</h2>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			We do not intend to knowingly solicit data from or market to children under the age of 13. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at&nbsp;<a href="mailto:quailridgemoultrie@gmail.com
" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">quailridgemoultrie@gmail.com .</a>&nbsp;We will delete such data from our files upon request.</p>
		<h2 style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 1.3em; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			REVIEWING AND REQUESTING CHANGES TO PERSONAL INFORMATION</h2>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			You may review and request changes to the personal information we maintain about you by contacting us via email at&nbsp;<a href="mailto:quailridgemoultrie@gmail.com
" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">quailridgemoultrie@gmail.com </a></p>
		<h2 style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 1.3em; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			UPDATES TO PRIVACY POLICY</h2>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			We may update this Privacy Policy from time to time. When we do so, you will see the changes on this page, and we will update the effective date of the Privacy Policy on this page.</p>
		<h2 style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 1.3em; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			CONTACT US</h2>
		<p style="margin: 0px 0px 1em; padding: 0px; border: 0px; outline: 0px; font-size: 12px; vertical-align: baseline; background-color: rgb(255, 255, 255); position: relative; line-height: 1.3em; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">
			If you have any questions regarding our privacy practices, please contact us at&nbsp;<a href="mailto:quailridgemoultrie@gmail.com
" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background-color: transparent; position: relative;">quailridgemoultrie@gmail.com .</a></p>
		
</div>
<!-- content-wrap ends here -->
</div>
</div>
